# Django #
*.log
*.pot
*.pyc
/.idea
__pycache__
db.sqlite3
media
db.sqlite3

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# pyenv 
.python-version 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 